<div class="container d-flex">
    <div class="class row">
        <div class="col-sm-12 d-flex flex-wrap justify-content-around" id="articles">
            {{#each articles}}
                {{> article }}
            {{/each}}
        </div>
    </div>
</div>
